@import './variables';

.About{
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    @include xl{
        max-width : 60vw;
    }
    &__container{
        flex-grow: 1;
        border-radius: 30px;
        margin : 40px 20px;
        @include sm{
            padding: 10px 30px;
        }
        @include md{
            margin: 50px 30px;
        }

    }
    &__header{
        text-shadow: 3px 1px $color-button;
        font-size: 30px;
        text-align: center;
        margin : 10px 0px;
        @include sm{
            font-size: 34px;
        }
        @include md{
            font-size: 42px;
        }
        @include lg{
            font-size: 54px;
        }
        @include xl{
            font-size: 42px;
        }
    }
    &__text{
        text-align :center;
        font-size: 16px;
        @include sm{
            font-size: 19px;
        }
        @include md{
            font-size: 22px;
        }
        @include lg{
            font-size: 24px;
        }
        @include xl{
            font-size: 22px;
        }
    }
}