//  COLORS

$color-bg : #070341;
$color-border : #013B87;
$color-button : #0194FC;
$color-primary : #03266D;
$color-white : #ffffff;
$color-dark-white : #a3a2a2;
//  FONTS

$font-primary :'Rubik', sans-serif; 